@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
	/*background-image: url("https://wallpapercave.com/wp/fto5lYX.jpg");*/
	font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    background-color: white;
}

.dark-body {
	background-image: url("https://i.pinimg.com/originals/a1/09/70/a1097066e9489d20fb2481a40642b227.jpg");
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
}

#sidebar.active {
    min-width: 81px;
    max-width: 81px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar.active ul li ul li span {
	display: none;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar {
        margin-left: 0 !important;
    }
    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    #sidebar.active ul li a {
        padding: 20px 10px;
    }
    #sidebar.active ul li a span {
        font-size: 0.85em;
    }
    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    #sidebar.active ul li a i {
        font-size: 1.3em;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    GENERAL CONTENT STYLING
----------------------------------------------------- */

#sidebarCollapse {
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9999;
}
img {
    border-radius:50%;
    max-width: 100%;
    height: 300px;
    width: 300px;
    float: left;
}
.row.extracurriculars a {
    text-decoration: underline;
    color: #008b8b;
}
#slides {
    list-style-type: none;
    padding-left: 0px;
}
#slide1 {
    height: auto;
    background-image: url("public/backgrounds/tokyo.jpg");
    color: #041738;
    margin: auto;
}
#slide2 {
    height: auto;
    text-align: center;
    color: #20B2AA;
}
#slide3 {
    height: auto;
    /*background-image: url("public/backgrounds/RPIQuad.jpg");*/
    margin: auto;
    text-align: center;
    background-color: #97c8f0;
    display: flex;
}
#slide4 {
    height: auto;
}
#introWords {
    float: left;
}
#word1, #word2, #word3 {
    position: relative;
}
.fixModal {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
#topic {
    font-family: 'Noto Serif', serif;
}
.modal-body a {
    text-decoration: underline;
}
#profile a {
    text-decoration: underline;
}
#profile {
    font-size: 25px;
    color: #808080;
}
.projectLogo {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* ---------------------------------------------------
    DESKTOP STYLING
----------------------------------------------------- */

@media (min-width: 769px) {
    .image {
        height: 300px;
        width: 300px;
        margin-left: 60px;
    }
    img {
        height: auto;
        width: auto;
    }
    #slide1 {
        padding-top: 200px;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide1Content {
        padding-left: 5vw;
    }
    #word1 {
        /*transform: rotate(-20deg);*/
        top: 65px;
        animation: rotateInUpLeftTop 1s forwards;
    }
    #word2 {
        top: 80px;
        left: 5px;
        animation: rotateInUpLeftMiddle 1s;
    }
    #word3 {
        top: 95px;
        animation: rotateInUpLeftBottom 1s forwards;
        /*transform: rotate(20deg);*/
        right: 12px;
    }
    #topic {
        font-size: 70px;
        padding-top: 80px;
        padding-left: 550px;
        animation: fadeInRight 1s;
        /*-webkit-text-fill-color: white;  Will override color (regardless of order) */
        /*-webkit-text-stroke-width: 1px;*/
        /*-webkit-text-stroke-color: black;*/
    }
    #pitch {
        padding-left: 620px;
        animation: fadeInRight 2s;
    }
    #mobileContent {
        display: none;
    }
    #slide2 {
        padding-top: 10vh;
        padding-bottom: 30vh;
    }
    #profile {
        display: inline-block;
        width: 60vw;
    }
    #slide3 { 
        padding-top: 20px;
    }
    #slide3Content {
        padding-left: 40px;
        padding-right: 40px;
    }
    #slide3Mobile {
        display: none;
    }
    #education {
        display: inline-block;
        width: 60vw;
    }
    #rpiSummary {
        float: left;
        padding-left: 25px;
        padding-top: 25px;
        font-size: 20px;
        width: 620px;
        text-align: left;
    }
    .educationSection {
        height: 400px;
        width: 100%;
        position: relative;
    }
    .row {
        padding-top: 30px;
    }
    .extracurriculars {
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
        /*font-size: 20px;*/
    }
    #slide4 {
        margin: auto;
        text-align: center;
        padding-top: 20px;
        color: #20B2AA;
    }
    .slideHeader {
        text-align: center;
        font-size: 40px;
        /*text-decoration: underline;*/
    }
    .contentHeader {
        text-align: center;
        margin-top: 30px;
    }
    .className {
        text-align: left;
        font-size: 25px;
    }
    .classDescription {
        text-align: left;
    }
    #slide4 ul {
        list-style-type: none;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-size: 18px;
    }
    #slide4 li {
        color: black;
    }
    #skillsList {
        display: inline-block;
        width: 60vw;
        text-align: left
        /*margin-bottom: 50px;*/
        /*margin: 0 auto;*/
    }
    #slide5 {
        background-color: #97c8f0;
        padding-top: 20px;
        text-align: center;
    }
    #slide5 div a {
        text-decoration: underline;
        color: #008b8b;
    }
    #projectPitch {
        /*text-align: center;*/
        display: inline-block;
        width: 60vw;
        padding-bottom: 30px;
    }
    #slide6 {
        text-align: center;
        height: 75vh;
    }
    #contactPitch {
        display: inline-block;
        width: 60vw;
        padding-bottom: 30px;
        font-size: 25px;
    }
    .contactButton {
        transition: transform .2s;
    }
    .contactButton:hover {
        transform: scale(1.5);
    }
}

/* ---------------------------------------------------
    MOBILE STYLING
----------------------------------------------------- */

@media (max-width:768px) {
    #content {
        overflow-wrap: break-word;
    }
    img {
        height: 150px;
        width: 150px;
    }
    #slide1 {
        /*margin-top: 10px;*/
        height: 80vh;
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;
    }
    #slide1Content {
        padding-top: 10px;
        height: auto;
        display: flex;
        justify-content: center;
    }
    #sidebarCollapse {
        display: none;
    }
    #content {
        margin-left: 80px;
        width: calc(100vw - 80px);
    }
    .image {
        width: 200px;
        height: 200px;
    }
    #mobileContent {
        font-size: 30px;
    }
    #mobileContent h1 {
        font-size: 40px;
    }
    #introWords {
        position: relative;
        display: none;
    }
    #topic {
        display: none;
    }
    #pitch {
        display: none;
    }
    #slide2 {
        display: table;
        height: 80vh;
        width: 100%;
    }
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
    .inner {
        margin-left: auto;
        margin-right: auto;
    }
    #profile {
        font-size: 16px;
    }
    #slide3Desktop {
        display: none;
    }
    #slide3 {
        font-size: 16px;
        padding-bottom: 30px;
    }
    #slide3Content {
        padding-left: 2px;
        padding-right: 2px;
    }
    button.btn.btn-link.className {
        white-space: normal;
    }
}

/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */

@-webkit-keyframes rotateInUpLeftTop {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 25deg);
    transform: rotate3d(0, 0, 1, 25deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -20deg);
    transform: rotate3d(0, 0, 1, -20deg);
    opacity: 1;
  }
}

@keyframes rotateInUpLeftTop {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 25deg);
    transform: rotate3d(0, 0, 1, 25deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -20deg);
    transform: rotate3d(0, 0, 1, -20deg);
    opacity: 1;
  }
}

.rotateInUpLeftTop {
  -webkit-animation-name: rotateInUpLeftTop;
  animation-name: rotateInUpLeftTop;
  /*animation-fill-mode: forwards;*/
}


@-webkit-keyframes rotateInUpLeftMiddle {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeftMiddle {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInUpLeftMiddle {
  -webkit-animation-name: rotateInUpLeftMiddle;
  animation-name: rotateInUpLeftMiddle;
}

@-webkit-keyframes rotateInUpLeftBottom {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 65deg);
    transform: rotate3d(0, 0, 1, 65deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
    opacity: 1;
  }
}

@keyframes rotateInUpLeftBottom {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 65deg);
    transform: rotate3d(0, 0, 1, 65deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
    opacity: 1;
  }
}

.rotateInUpLeftBottom {
  -webkit-animation-name: rotateInUpLeftBottom;
  animation-name: rotateInUpLeftBottom;
  /*animation-fill-mode: forwards;*/
}
         
@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}